LevelUp/RESTService/Service References/LevelUpServiceRef/LevelService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LogEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hours" type="xs:int" />
      <xs:element minOccurs="0" name="Kcal" type="xs:long" />
      <xs:element minOccurs="0" name="LogEntryId" type="xs:int" />
      <xs:element minOccurs="0" name="Minutes" type="xs:int" />
      <xs:element minOccurs="0" name="Seconds" type="xs:int" />
      <xs:element minOccurs="0" name="TypeOfExcercise" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogEntry" nillable="true" type="tns:LogEntry" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Achievements" nillable="true" type="tns:ArrayOfAchievement" />
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Height" type="xs:double" />
      <xs:element minOccurs="0" name="Level" type="xs:int" />
      <xs:element minOccurs="0" name="Logs" nillable="true" type="tns:ArrayOfLogEntry" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrivacyAge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrivacyHeight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrivacyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrivacyWeight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titles" nillable="true" type="tns:ArrayOfTitle" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:double" />
      <xs:element minOccurs="0" name="Xp" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfAchievement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Achievement" nillable="true" type="tns:Achievement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAchievement" nillable="true" type="tns:ArrayOfAchievement" />
  <xs:complexType name="Achievement">
    <xs:sequence>
      <xs:element minOccurs="0" name="AchievementId" type="xs:int" />
      <xs:element minOccurs="0" name="DateAchieved" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Achievement" nillable="true" type="tns:Achievement" />
  <xs:complexType name="ArrayOfLogEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogEntry" nillable="true" type="tns:LogEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogEntry" nillable="true" type="tns:ArrayOfLogEntry" />
  <xs:complexType name="ArrayOfTitle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Title" nillable="true" type="tns:Title" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTitle" nillable="true" type="tns:ArrayOfTitle" />
  <xs:complexType name="Title">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateAchieved" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitleId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Title" nillable="true" type="tns:Title" />
</xs:schema>