Spikes/REST/RESTtest/RESTClient/Service References/Service/PersonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7976/PersonService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7976/PersonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7976/PersonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RESTtest" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonService_GetXmlString_InputMessage">
    <wsdl:part name="parameters" element="tns:GetXmlString" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetXmlString_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetXmlStringResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetJSONString_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJSONString" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetJSONString_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJSONStringResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerson" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_UpdatePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePerson" />
  </wsdl:message>
  <wsdl:message name="IPersonService_UpdatePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_CreatePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePerson" />
  </wsdl:message>
  <wsdl:message name="IPersonService_CreatePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePersonResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonService">
    <wsdl:operation name="GetXmlString">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetXmlString" message="tns:IPersonService_GetXmlString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetXmlStringResponse" message="tns:IPersonService_GetXmlString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONString">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetJSONString" message="tns:IPersonService_GetJSONString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetJSONStringResponse" message="tns:IPersonService_GetJSONString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPerson" message="tns:IPersonService_GetPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonResponse" message="tns:IPersonService_GetPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/UpdatePerson" message="tns:IPersonService_UpdatePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/UpdatePersonResponse" message="tns:IPersonService_UpdatePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/CreatePerson" message="tns:IPersonService_CreatePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/CreatePersonResponse" message="tns:IPersonService_CreatePerson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="PersonService" />
</wsdl:definitions>