Spikes/REST/RESTtest/RESTClient/Service References/Service/PersonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7976/PersonService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7976/PersonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7976/PersonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RESTtest" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonService_XMLData_InputMessage">
    <wsdl:part name="parameters" element="tns:XMLData" />
  </wsdl:message>
  <wsdl:message name="IPersonService_XMLData_OutputMessage">
    <wsdl:part name="parameters" element="tns:XMLDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_JSONData_InputMessage">
    <wsdl:part name="parameters" element="tns:JSONData" />
  </wsdl:message>
  <wsdl:message name="IPersonService_JSONData_OutputMessage">
    <wsdl:part name="parameters" element="tns:JSONDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_XMLPersonObject_InputMessage">
    <wsdl:part name="parameters" element="tns:XMLPersonObject" />
  </wsdl:message>
  <wsdl:message name="IPersonService_XMLPersonObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:XMLPersonObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_JSONPersonObject_InputMessage">
    <wsdl:part name="parameters" element="tns:JSONPersonObject" />
  </wsdl:message>
  <wsdl:message name="IPersonService_JSONPersonObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:JSONPersonObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_JSONPostObject_InputMessage">
    <wsdl:part name="parameters" element="tns:JSONPostObject" />
  </wsdl:message>
  <wsdl:message name="IPersonService_JSONPostObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:JSONPostObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_XMLUpdatePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:XMLUpdatePerson" />
  </wsdl:message>
  <wsdl:message name="IPersonService_XMLUpdatePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:XMLUpdatePersonResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonService">
    <wsdl:operation name="XMLData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/XMLData" message="tns:IPersonService_XMLData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/XMLDataResponse" message="tns:IPersonService_XMLData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JSONData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/JSONData" message="tns:IPersonService_JSONData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/JSONDataResponse" message="tns:IPersonService_JSONData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XMLPersonObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/XMLPersonObject" message="tns:IPersonService_XMLPersonObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/XMLPersonObjectResponse" message="tns:IPersonService_XMLPersonObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JSONPersonObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/JSONPersonObject" message="tns:IPersonService_JSONPersonObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/JSONPersonObjectResponse" message="tns:IPersonService_JSONPersonObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JSONPostObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/JSONPostObject" message="tns:IPersonService_JSONPostObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/JSONPostObjectResponse" message="tns:IPersonService_JSONPostObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XMLUpdatePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/XMLUpdatePerson" message="tns:IPersonService_XMLUpdatePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/XMLUpdatePersonResponse" message="tns:IPersonService_XMLUpdatePerson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="PersonService" />
</wsdl:definitions>